<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NetworkRequest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63E8C38C1DFE9E2800AE5727</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63E8C3A01DFE9E2800AE5727</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63E8C3AB1DFE9E2900AE5727</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
